/HotelReservationSystemLibrary/build/
/HotelReservationSystemLibrary/dist/
/HotelReservationSystem/build/
/HolidayReservationSystem/build/
/HolidayReservationSystem/dist/
/HotelReservationSystem/HotelReservationSystem-ejb/dist/
/HotelReservationSystemReservationClient/build/
/HotelReservationSystemManagementClient/dist/
/HotelReservationSystemManagementClient/build/
/HotelReservationSystem/dist/
/HotelReservationSystemReservationClient/dist/
/HotelReservationSystem/HotelReservationSystem-ejb/build/
